$black: #282c34;
$dark: #121212;
$red: #950101;
$white: #FFFDFB; 
$beige: antiquewhite;
$white-radial-gradient: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); 
$black-radial-gradient: radial-gradient(ellipse at center, rgba(40,44,52,0) 0%,rgba(40,44,52,1) 69%,rgba(40,44,52,1) 100%); 
$dark-radial-gradient: radial-gradient(ellipse at center, rgba(18,18,18,0) 0%,rgba(18,18,18,1) 69%,rgba(18,18,18,1) 100%); 